.demo {
    background-color: rgb(159, 114, 201);
    padding: 15px;
    align-items: center;

    h2 {
        border: solid 2px black;
        padding: 10px;
    }

    .data {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
    }

    .btn-fetch {
        background-color: purple;
        color: white;
        padding: 5px;
        margin: 5px;
    }
}