.header {
  color: white;
  background-color: rgb(89, 19, 110);
  display: flex;

  a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
    align-content: center;
    position: relative;
  }
}