.container-movie {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 14px;

  .movie {
    width: 22%;
    background-color: #BFACE2;
    color: rebeccapurple;
    border: solid 3px rebeccapurple;
    padding: 3px;
    font-weight: bold;
    text-align: center;
    margin-top: 14px;

    img {
      width: 100%;
      height: 220px;
      object-fit: cover;
      object-position: top center;
    }
  }
}